/**
 * Default theme for jQuery.tabulate
 *
 * @author Kyle Florence <kyle.florence@gmail.com>
 */

/*------------------------------------------------------------------------------
  Container
------------------------------------------------------------------------------*/

.tabulate-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

/*------------------------------------------------------------------------------
  Rows
------------------------------------------------------------------------------*/

.tabulate-row {
  margin: 0;
  padding: 0;
}

.tabulate-row-odd {
  background-color: #f4f9ff;
}

.tabulate-row-even {
  background-color: #fff;
}

.tabulate-row-hover {
  background-color: #ffe7ba;
}

.tabulate-row-selected {
  color: #fff;
  font-weight:bold;
  background-color: #FFA500;
}

.tabulate-last .tabulate-cell {
  border-bottom: 0;
}

/*------------------------------------------------------------------------------
  Cells
------------------------------------------------------------------------------*/

.tabulate-cell {
  margin: 0;
  padding: 5px;
  font-size: 10px;
  overflow: hidden;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px #ebf4ff;
}

.tabulate-cell-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.tabulate-header .tabulate-cell {
  border: solid 1px #bad9ff;
  background-color: #ebf4ff;
}

/*------------------------------------------------------------------------------
  Body
------------------------------------------------------------------------------*/

.tabulate-body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.tabulate-body .tabulate-cell-first {
  border-left: solid 1px #bad9ff;
}

.tabulate-body .tabulate-cell-last {
  border-right: solid 1px #bad9ff;
}

/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
